Source: catdoc
Maintainer: Martina Ferrari <tina@debian.org>
Section: text
Priority: optional
Build-Depends: debhelper-compat (= 13),
               tk,
Rules-Requires-Root: no
Standards-Version: 4.6.0
Homepage: http://www.wagner.pp.ru/~vitus/software/catdoc/
Vcs-Browser: https://salsa.debian.org/debian/catdoc
Vcs-Git: https://salsa.debian.org/debian/catdoc.git

Package: catdoc
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Suggests: tk | wish,
Description: text extractor for MS-Office files
 The catdoc program reads one or more Microsoft Word files and outputs
 their contents to standard output as text.
 .
 It is accompanied by xls2csv, a program which converts Excel spreadsheets
 into comma-separated-values format, and catppt, a utility to extract textual
 information from PowerPoint files.
 .
 It doesn't try to preserve Word formatting; its goal is to extract plain
 text and allow you to read it (and, probably, reformat it with TeX).
 .
 This package suggests Tk because it also includes wordview, an
 optional Tk-based GUI for catdoc.  The MIME config provided in this
 package will use wordview if X is running, or catdoc directly if it
 is not.
